<div class="bg-zinc-900 flex">
    <div class="text-9xl text-white tracking-widest font-bold w-3/5">
        <span class="text-white block mt-50 ml-30">忘却</span>
        <span class="text-purple-300 block mt-10 mb-15 ml-90 ">螺旋</span>
    <div class="text-xl font-normal tracking-wider">
         <%= link_to "START", new_user_path, class: "bg-white rounded-full mt-30 ml-40 px-37 py-2 text-purple-500 text-3xl font-bold tracking-widest shadow hover:bg-purple-50 transition" %>
    </div>
    </div>
    <div class="w-2/5 flex justify-end">
        <%= image_tag 'main_logo.png', class: "w-160 h-auto slow-spin" %>
    </div>
</div>
