<div class="">
    <div class="">
        <div class="">
            <h1>新規ユーザーの登録</h1>
        </div>
        <%= render "shared/form", user: @user %>
        <div>
            <%= link_to "ログインページへ", login_path %>
        </div>
    </div>
</div>